* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 100px;
}

.opening-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
}

.background {
    transform: translateZ(-69px) scale(1.7);
}

.foreground {
    transform: translateZ(-9px) scale(1.2);
}

.heading {
    transform: translateZ(9px) scale();
    font-family: fantasy;
    font-weight: 800;
    font-size: 4rem;
    color: antiquewhite;
    text-shadow: 2px 2px 2px #999;
    padding-bottom: 27rem;
}

.foreground,
.background {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

/* .mountaining {
    height: 100%;
} */