@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px; /* enables 3D - z axis */
}

.opening-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d; /* Extends / Enables 3D in subsiquent contaiiners */
    z-index: -1; /* Without this the contianer having the lowest index the the oher content below this conainer would overlap */
}

.background {
    transform: translateZ(-69px) scale(8); /* background setting at higher deapth */
}

.foreground {
    transform: translateZ(-9px) scale(2); /* auto scales to fit the screen */
}

.heading {
    transform: translateZ(3px);
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.2px;
    font-weight: 800;
    font-size: 6rem;
    color: antiquewhite;
    text-shadow: 2px 2px 2px #999;
    position: relative;
    bottom: 13%;
}

.foreground,
.background {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.articles {
    /* transform: translateZ(-0.8px) scale(1.08); 
            ^ with this the paralax effect doesn't work -> images remain static
    */
    background-color: #171717;
    color: rgba(253, 255, 240, 0.733);
    font-family: "Oswald", sans-serif;;
}

.sub-heading {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin: 1rem 0;
    padding: 0.01rem 4rem;
}

.headings {
    margin: 0.5rem auto;
}

span {
    background-color: rgba(253, 255, 240, 0.733);
    color: #171717;
    padding: 0.2rem;
    font-size: 30px;
}

.bg {
    position: relative;
    display: flex;
    width: 100%;
    height: 47vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment:fixed; /* Makes the image staic in the bg */
}

.bg1 {
    background-image: url("/images/para.jpg");
}

.bg2 {
    background-image: url('/images/surrf.jpg');
}

.bg3 {
    background-image: url('/images/skatting.jpg');
}

p {
    padding: 4rem;
}

#first {
    padding-top: 0rem;
}

.filler {
    display: flex;
    border: #999 solid 1px;
    background-color: #171717;
    width: 100vw;
    height: 26vh;
    justify-content: center;
    align-items: center;
}

.filler h2 {
    color: blanchedalmond;
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
}